<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Fun game 29!</h1>
        <p class="lead text-muted">Hello Fellow Person! This is 29 speaking! Please select an option from below and let's start the party!</p>
        <p>
          <a href="/login" class="btn btn-primary my-2">Log In</a>
          <a href="/userregistration" class="btn btn-secondary my-2">Create a New Account</a>
        </p>
      </div>
    </div>
  </section>