body{
    padding-top: 150px;
}
.addFruitButton{
    width: 40%;
}
.midBar{
    width: 10px;
    height: 150px;
    background-color: crimson;
    display: flex;
    justify-content: center;
}
.insertFruitBlock{
    display: flex;
    justify-content: flex-end;
}
.addFruitButtonBlock{
    display: flex;
    justify-content: center;
}