body{
    padding-top: 150px;
}
.addFruitButton{
    width: 40%;
}
.midBarBlock{

    display: flex;
    justify-content: center;
}
.midBar{
    width: 10px;
    height: 150px;
    background-color: crimson;
}
.insertFruitBlock{
    display: flex;
    justify-content: flex-end;
}
.addFruitButtonBlock{
    display: flex;
    justify-content: center;
}
.showFruitBlock{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.crossIcon{
    margin-right: 5px;
}